<!DOCTYPE html>
<html>
<head>
<title>Homepage</title>
<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="Keywords" content="room reservation, job application, pizza delivery">
    <meta name="Description" content="the page have hyperlink to three other different pages">
</head>
<body>
<a href= "../Activity2/imagemap.html"> Activity2 |</a>
   <a href= "../Activity4/SVG.html"> SVG |</a>
   <a href= "../Lab1/aastu.html"> Lab1 |</a>
   <a href= "../Lab2/lab2.html"> Lab2|</a>
   <a href= "../Lab3/lab3.html"> Lab3</a>
<p><b>Apply for a job here<b> 
<button type="button"><a href="jobapp.html">Job Application Page</a></button>
</p>
<h2>Reserve a room</h2>
<img  src="../../../resources/images/download.jpeg"  alt="logo" usemap="#logo">
			 <map name="logo">
			      <area   shape="rect"  alt="logo"  href="section.html" coords="-1,-1,719,757"   >
			</map>	
<h2>Pizza delivery</h2>
<img  src="../../../resources/images/images.jpeg"  alt="logo" width="100"  height="100" usemap="#logo"> 
			 <map name="logo">
			      <area   shape="rect"  alt="logo"  href="section.html#pizza.html" coords="-1,-1,719,757"   >
			</map>	
<a href="feedback.html" none><p>Feedback Page</p></a>
</body>
</html>