<!DOCTYPE html>
<html>
<head>
<title>LIFE HACKS</title>
<meta charset="utf-8">
<meta name="Keywords" content="Self-Education, The True Believer, Eric Hoffe, Books to Read, Life Hacks">
<meta name="Description" content="This website contains informations about Eric Hoffer and his book titled The True Beliver, New Podcast, and pick of the week video. As well as recent posts, most viewed articles and ip project winners.">

</head>

<body>

<table>
<tr>
<td width="150"></td>
<td>
<img src="../../../resources/images/logo_gold.png" alt="logo" width= "50" height= "60">
</td>
<td width ="50%" align = "right">
   
   <a href= "../Lab1/aastu.html"> Lab1 |</a>
   <a href= "../Lab2/lab2.html"> Lab2|</a>
   <a href= "../Lab3/lab3.html"> Lab3|</a>
    <a href= "../Activity3/home.html"> homepage |</a>
   <a href= "../Activity4/SVG.html"> Shapes |</a>
</td>
<td width="150"></td>
</tr>
</table>
<hr>

<table>

<tr>
<td width="150"></td>
<td colspan="2" align = "right"><a href= "#"> Go to bottom</a></td>
<td width="150"></td>
</tr>

<tr>
<td width="150"></td>
<td width>
<h1>Eric hoffer and the power of self education</h1>

<img src="../../../resources/images/life1.jpg" alt= "sunset" usemap="#image-map">


<map name="image-map">
    <area  alt="traveler" href="https://www.shutterstock.com/search/adventurers " coords="965,216,48" shape="circle">
    <area  alt="Sunset" href="https://unsplash.com/s/photos/beautiful-sunset" coords="2,184,704,498" shape="rect">
    <area  alt="Backbag" href="https://www.rei.com/c/travel-backpacks" coords="1014,257,1127,476" shape="rect">
</map>

<p> I recently read The True Believer by Eric Hoffer. It's a book 
about how mass movements evolve. With a lot of historical examples,
the book explains the patterns and common threads among them. 
It's an insightful book and reading it was a great learning experience for me.
</p>
  
<p><img src= "#" alt = "The True Believer book cover"> 
What'd like to share with you here is not the content of the book, though. 
Instead, I'd like to share with you about the author.</p>
<p>
You see, I didn'mt know about Eric Hoffer before. 
But I imagined he must be a famous professor from a well-known university. 
I mean, what else could explain the depth of his insights? 
The True Believer is an influential book. 
Here is how <a href= "#"> Wikipedia </a>
   put it.....<a href= "#"> read more </a></p>
<hr>

<h3>New Podcast</h3> 
<h2> Jack Ma - How I Overcame Failure </h2>
<audio src = "../../../resources/audio/Jack Ma - How I OveRcame Failure.mp3" autoplay controls> unsupported format </audio>
<hr>

<h3>Pick of The Week </h3> 
<h2> 24 Hours A Day</h2>
<video src= "../../../resources/video/24_HOURS.mp4" autoplay controls width = "750" height = "300"> unsupported format </video>
 <hr>
</td>
<td valign = "top" >
<h2>Recent post</h2>
<ul>
<li> Article
<ul>
<li>The Importance of Goals, Especially During Difficult Times</li> 
<li>5 Steps to Discovering Your Life Purpose In 2022!</li>  
</ul>
<li> Ideas
<ul>
<li>10 Books to Read in The Fall</li> 
<li>Top Web Development Projects Ideas </li> 
</ul>
</ul>
<h2> Most Viewed Articles</h2>
<ol type = "I">
<li> Instant Gratification Is Stopping You From Reaching Your Goals! </li>
<li>  Stop Juggling Between Work And Lifes </li>
</ol> 
<h2> IP Project Winners</h2>
<pre> 
---------------------------------
Rank    Award  
---------------------------------
First   Free hosting and support 
Second  5GB Mobile Data
Third   1GB Mobile Data
---------------------------------</pre>
</td>
<td width="150"></td>
</tr>
</table>

<table>

<tr>
<td width="150"></td>
<td width ="200">Follow us: <a href= "#" alt = "facebook"> Facebook|</a> <a href= "#" alt = "Twitter"> Twitter</a></td>
<td width ="920" align = "right"><a href= "#" alt = "privacy"> Privacy |</a> <a href= "#" alt = "Terms of use"> Terms of use</a></td>
<td width="150"></td>
</tr>

<tr>
<td width="150"></td>
<td colspan = "2" align = "center">
<p>
<footer>Copyright &copy AASTU SEng 2021, All Rights Reseved</footer> 
</p>
</td>
<td width="150"></td>
</tr>

</table>
</body>
</html>